div(ng-cloak='' ng-controller="caseReportEditCtrl",ng-init="initCaseReportEdit()")
    section.content

        div(ui-view="medical_record")

        .row(ng-if="case.logs")
            .col-md-12
                ul.timeline.timeline-inverse
                    .timeline.timeline-inverse(ng-repeat="log in case.logs")
                        li.time-label
                            span.bg-red
                                | {{log.create_time | date: 'yyyy-MM-dd'}}
                        li
                            i.fa.fa-envelope.bg-blue
                            .timeline-item
                                span.time
                                    i.fa.fa-clock-o
                                    |  | {{log.create_time | date: 'HH:mm'}}
                                h3.timeline-header
                                    span.text-light-blue {{log.create_user}}
                                    |  {{log.title}}
                                .timeline-body(ng-if="log.content")
                                    | {{log.content}}


        .row
            .col-md-12.text-center
                br
                textarea.form-control(type='text', placeholder='请写清楚具体的病历缺少的信息，确认则忽略' ng-model='log.content')
                br
            .col-md-12.text-center
                button.btn.btn-primary(type='button' ng-click="confirmMR(false)")
                    i.fa.fa-credit-card
                    |  病历信息缺失，驳回
                button.btn.btn-success(type='button' ng-click="confirmMR(true)")
                    i.fa.fa-credit-card
                    |  确认病历

        br

        div(ui-view="case_report")





