div(ng-cloak='' ,ng-controller="userManagerCtrl",ng-init="init()")

    md-content.md-padding
        .ibox.float-e-margins
            .ibox-title
                .ibox-tools
                    a(ng-click='addUser()')
                        i.fa.fa-plus-square-o 新增用户

            .ibox-content
                
                table.table
                    tr(style='font-weight: bold')
                        td 用户名
                        td 邮箱
                        td 昵称
                        
                        td 角色
                        td 权限
                        td 编辑

                    tr(ng-repeat='user in users')
                        td
                            span(editable-text='user.name', e-name='name', e-form='rowform',e-placeholder="用户名（登录名）", onbeforesave='checkData($data, user.id)')  {{ user.name || '' }}

                        td
                            span(editable-text='user.email', e-name='email', e-form='rowform',e-placeholder="邮箱")  {{ user.email || '' }}

                        td
                            span(editable-text='user.nickname', e-name='nickname', e-form='rowform',e-placeholder="昵称", onbeforesave='checkData($data, user.id)')  {{ user.nickname || '' }}
                     
                        td
                            span(e-required='', onbeforesave="checkData($data)", e-form="rowform", editable-select="user.crm_role" e-name="crm_role" e-ng-options="t.name as t.display for t in roles") {{ roleNameDispalyMap[user.crm_role] || '' }}
                        td
                            span(e-required='', e-form="rowform", editable-select="user.crm_admin" e-name="crm_admin" e-ng-options="p.value as p.display for p in permissions") {{ user.crm_admin ? '管理员':'普通用户'}}

                        td(style='white-space: nowrap')
                          
                          form.form-buttons.form-inline(editable-form='', name='rowform', onbeforesave='saveUser($data, user._id)', ng-show='rowform.$visible', shown='inserted == user')
                            button.btn.btn-primary(type='submit', ng-disabled='rowform.$waiting')
                              | 保存
                            button.btn.btn-default(type='button', ng-disabled='rowform.$waiting', ng-click='rowform.$cancel()')
                              | 取消
                          .buttons(ng-show='!rowform.$visible')
                            button.btn.btn-primary(ng-click='rowform.$show()') 编辑
                            button.btn.btn-danger(ng-click='removeUser($index)') 删除用户
                            button.btn.btn-danger(ng-click='resetPass(user._id)') 重置密码

                nav
                    .pagination
                        span.total 共{{total}}条记录
                        paging(page='currentPage', page-size='pageSize', total='total',  paging-action="DoCtrlPagingAct(page, pageSize, total)")

