doctype html
head
    base(href='/')
    title ZL客服后台
    meta(charset='utf8')
    meta(name='keyword', content='肿瘤,咨询,新药,治疗,肺癌,乳腺癌,胃癌,肝癌,黑色素瘤,白血病,结直肠癌,淋巴瘤,Cyramza,Opdivo,Keytruda,Opdivo,Tecentriq,Keytruda,AZD9291,Cyramza,Ibrutinib,Ibrance')
    meta(name='description', content='最新最权威的肿瘤咨询')
    meta(name='viewport', content='width=device-width,initial-scale=1,user-scalable=no,maximum-scale=1')

    link(rel='stylesheet', href='https://cdn.bootcss.com/bootstrap-daterangepicker/2.1.25/daterangepicker.min.css')

    script(src='https://cdn.bootcss.com/moment.js/2.18.1/moment.min.js')
    script(src='https://cdn.bootcss.com/moment.js/2.18.1/locale/zh-cn.js')
    script(src='https://cdn.bootcss.com/bootstrap-daterangepicker/2.1.25/daterangepicker.min.js')
    script(src='/library/file-saver/FileSaver.js')

    script(src='/src/main.521f2b528fa8e2670b2c.js')

    script(type='text/javascript').
        var user = !{JSON.stringify(user)};
html(ng-app="ZLCsApp", lang="en", class="no-js",class="ng-scope")
    body(class="docs-body layout-row" layout="row")
        div(layout="column" tabindex="-1" role="main" flex="" class="layout-column flex",ui-view='')
