<table class="table table-bordered">
    <tr>
        <th ng-repeat="header in pattern.headers" ng-style="header==='来源' &amp;&amp; {'background-color':'#eff2f6'}">{{header}}</th>
        <th>编辑</th>
    </tr>
    <tbody ng-repeat="item in pattern.value">
    <tr>
        <td ng-repeat="kk in pattern.properties | filter:newLineSource(pattern.newLineSource)" ng-style="kk==='source' &amp;&amp; {'background-color':'#eff2f6'}">
            <input ng-if="pattern.filter[kk] === 'input'" type="text" ng-model="item[kk]" droppable-text="droppable-text" etext="item[kk]" placeholder="{{pattern.placeholders[kk]}}" class="form-control"/>
            <textarea rows="6" cols="50" ng-if="pattern.filter[kk] === 'inputarea'" type="text" ng-model="item[kk]" droppable-text="droppable-text" etext="item[kk]" placeholder="{{pattern.placeholders[kk]}}" class="form-control"></textarea>
            <div droppable-text="droppable-text" etext="item[kk]"><a href="#" popover-placement="right-top" ng-if="pattern.filter[kk] === 'text'" editable-text="item[kk]">{{item[kk] || '无'}}</a></div>
            <div droppable-text="droppable-text" etext="item[kk]"><a href="#" ng-if="pattern.filter[kk] === 'textarea'" editable-textarea="item[kk]">{{item[kk] || '无'}}</a></div>
            <md-select ng-if="pattern.filter[kk] === 'dropdown'" ng-model="item[kk]" placeholder="{{pattern.placeholders[kk]}}">
                <md-option ng-repeat="option in pattern.subOptions[kk]" ng-value="option">{{option}}</md-option>
            </md-select>
            <md-select ng-if="pattern.filter[kk] === 'dropdownFile' " ng-model="item[kk]" placeholder="{{pattern.placeholders[kk]}}">
                <md-option ng-repeat="option in getFileNameList(mdrIndex)  " ng-value="option">{{option}}</md-option>
            </md-select>
            <md-datepicker md-hide-icons="calendar" ng-if="pattern.filter[kk] === 'date'" ng-model="item[kk]" md-placeholder="选择日期" md-open-on-focus=""></md-datepicker>
        </td>
        <td>
            <button type="button" ng-click="deleteItem(key,$index,mdrIndex)" class="btn btn-danger pull-right">删除</button>
        </td>
    </tr>
    <!-- 如果来源显示在新的一行-->
    <tr ng-if="pattern.newLineSource">
        <td colspan="{{pattern.headers.length + 1}}" ng-style="{'background-color':'#eff2f6'}">
            <label>来源</label>
            <md-select ng-model="item['source']" style="display: inline-block; margin-left:40px" placeholder="选择来源">
                <md-option ng-repeat="option in getFileNameList(mdrIndex) track by $index" ng-value="option">{{option}}</md-option>
            </md-select>
        </td>
    </tr>
    </tbody>
</table>
<div class="btn-form">
    <button type="button" ng-click="addItem(key,mdrIndex)" class="btn btn-default pull-right">添加</button>
</div><br/>