data
app/public/build/src
app/public/build/pdf
app/public/build/asset
app/public/build/tmp
import

config/config.json

logs/*
!.gitkeep
node_modules/
bower_components/
tmp
dump
.DS_Store
.idea
*.log
tests/
run
run/*
run/*.json
coverage/
/*.crt
/*.key
app/public/bower_components
app/public/resource
app/public/resource/*
app/public/build
logs/*.json
messages.txt
*.rdb
package-lock.json

