<table class="table table-bordered">
    <tr>
        <th ng-repeat="header in pattern.headersEn" ng-style="header==='Source' &amp;&amp; {'background-color':'#eff2f6'}">{{header}}</th>
    </tr>
    <tr style="border-top-style:hidden;">
        <td ng-repeat="kk in pattern.properties" ng-style="kk==='source' &amp;&amp; {'background-color':'#eff2f6'}">
            <input ng-if="pattern.filter[kk] === 'text'" type="text" ng-model="pattern.value[kk]" droppable-text="droppable-text" etext="pattern.value[kk]" placeholder="{{pattern.placeholdersEn[kk]}}" class="form-control"/>
            <input ng-if="pattern.filter[kk] === 'number'" type="number" ng-model="pattern.value[kk]" placeholder="{{pattern.placeholdersEn[kk]}}" class="form-control"/>
            <textarea ng-if="pattern.filter[kk] === 'textarea'" type="text" ng-model="pattern.value[kk]" droppable-text="droppable-text" etext="pattern.value[kk]" placeholder="{{pattern.placeholdersEn[kk]}}" class="form-control"></textarea>
            <md-select ng-if="pattern.filter[kk] === 'dropdown'" ng-model="pattern.value[kk]" placeholder="{{pattern.placeholdersEn[kk]}}">
                <md-option ng-repeat="option in pattern.subOptionsEn[kk]" ng-value="option">{{option}}</md-option>
            </md-select>
            <md-select ng-if="pattern.filter[kk] === 'dropdownHash'" ng-model="pattern.value[kk]" placeholder="{{pattern.placeholdersEn[kk]}}">
                <md-option ng-repeat="option in pattern.subOptionsEn[kk]" ng-value="option.value">{{option.display}}</md-option>
            </md-select>
            <md-select ng-if="pattern.filter[kk] === 'dropdownMulti'" ng-model="pattern.value[kk]" multiple="" placeholder="{{pattern.placeholdersEn[kk]}}">
                <md-optgroup label="{{pattern.value[kk].toString()}}">
                    <md-option ng-repeat="option in pattern.subOptionsEn[kk]" ng-value="option">{{option}}</md-option>
                </md-optgroup>
            </md-select>
            <md-select ng-if="pattern.filter[kk] === 'dropdownFile'" ng-model="pattern.value[kk]" placeholder="{{pattern.placeholdersEn[kk]}}">
                <md-option ng-repeat="option in getFileNameList(mdrIndex) track by $index" ng-value="option">{{option}}</md-option>
            </md-select>
            <md-datepicker md-hide-icons="calendar" ng-if="pattern.filter[kk] === 'date'" ng-model="pattern.value[kk]" md-placeholder="Choose Date" md-open-on-focus=""></md-datepicker>
        </td>
    </tr>
</table>